/*　body　大要素　>　h1　小要素　>　div等のグローバル属性class属性　*/
@import "{% static '/zuapp/css/sanitize.css' %}";

body{
    background-color: rgb(242, 245, 241);
}
header{

    text-align: center;
    background-color: rgb(59, 37, 37);
    padding: 10px;
    color: #fff;
    font-size: 30px;
    margin: 10px auto;
    box-shadow: 10px 10px 10px rgba(0,0,0 .3);
    border-radius: 8px;
}
ol {
    margin: 50px;
    font-size: 17px;
    font-weight: bold;
}
h3{
    padding: 10px;
}
.rei img{
    float: left;
    margin: 30px 40px 40px 0;
}

.rei2{
    clear: left;
    
}
.setumei{
    color: red;
}
footer{
    text-align: center;
    font-size: 80%;
    font-family: serif;
    color: rgb(58, 21, 223);
}
.dann{
    margin: 30px 0 40px 0;
}
h1{
    font-family: Arial;
    background-color: rgb(53, 38, 70);
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0 .7);
    border-radius: 8px;
}
.kantangurahu img{
    width: 400px;
    float: left;
    margin: 20px 40px 50px 20px;
}
.kantangurahu p{
    margin: 10px 60px 45px 20px;
    font-size: 20px;
    padding: 5px;
    color: black;
}
footer{
    clear: left;
}
.mojideka{
    font-size: 20px;
}
.kakoi{
    width: 850px;
    margin: 110px;
    box-shadow: 10px 10px 10px rgba(63, 3, 70, 0.3);
    background-color: white;
    border-radius: 7px;
    border: 1px solid #d1d1d1;
    
}
.aa{
    color: black;
    text-decoration: underline;
  }
.ookisa{
    width: 1100px;
}
.kakoi3,.kakoi2{
    text-align: center;
    background-color: rgb(209, 186, 209);
    padding: 20px;
    color: rgb(73, 45, 45);
    font-size: 30px;
    margin: 20px auto;
    box-shadow: 10px 10px 10px rgba(9, 0, 10, 0.3);
    border-radius: 40px;
}
.kakoi4{
    text-align: center;
    width: 800px;
    margin: 150px;
    box-shadow: 10px 10px 10px rgba(9, 0, 10, 0.3);
    background-color: white;
    border-radius: 7px;
}